small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
@-moz-document url-prefix(){a{color:#999999;}
}
a img {border: none;}

body{line-height:1;background-color:#EDD6AB;}
#wrap{width:100%;margin-left:0px;margin-right:0px;margin-top:5px;margin:0 auto;background-color:#fff;}

@media screen and (max-width:320px) {
#header{background:url('http://www.livefood.in.ua/img/bg_header.png') repeat;max-width:320px;border:solid 0px black;height:100%;width:100%;margin-bottom:0px;box-shadow:0 0 0px rgba(0,0,0,0.5);}
#logo{background:inherit;float:left;position:relative;width:100%;height:100%;border:solid 0px black;}
#name_side{margin-top:0px;margin-right:0px;float:right;width:100%;height:100%;border:solid 0px black;}

#header_contact{position:relative;float:left;width:100%;height:100%;margin-left:5px;margin-right:5px;border:solid 0px black;}
#top_nomer_contact{position:relative;margin-top:0px;font-family:Tahoma,Arial;font-variant:normal;font-size:20px;color:#010101;width:100%;height:22px;text-align:center;}
#bottom_nomer_contact{position:relative;font-family:Tahoma,Arial;font-variant:normal;font-size:20px;color:#010101;outline:0px solid;width:100%;height:22px;text-align:center;}

#right_side{background:inherit;position:relative;float:right;width:100%;height:100%;top:0px;border: black 1px solid;}
#lang{float:right;width:100%;height:100%;border: black 0px solid;}
#basket{float:right;width:100%;height:100%;top:40px;border:solid 1px black;}
}
/* 1280?720, 294 ppi */
@media screen and (min-width:321px) and (max-width:768px) {
#header{background:url('http://www.livefood.in.ua/img/bg_header.png') repeat;max-width:768px;border:solid 1px black;margin-top:8px;height:100%;width:100%;margin-bottom:0px;box-shadow:0 0 7px rgba(0,0,0,0.5);}
#logo{background:inherit;float:left;position:relative;width:60%;height:100%;border:solid 1px black;}
#name_side{margin-top:0px;margin-right:0px;float:right;width:100%;height:100%;border:solid 0px black;}

#header_contact{position:relative;float:left;width:100%;height:100%;margin-left:5px;margin-right:5px;border:solid 0px black;}
#top_nomer_contact{position:relative;margin-top:0px;font-family:Tahoma,Arial;font-variant:normal;font-size:20px;color:#010101;width:100%;height:22px;text-align:center;}
#bottom_nomer_contact{position:relative;font-family:Tahoma,Arial;font-variant:normal;font-size:20px;color:#010101;outline:0px solid;width:100%;height:22px;text-align:center;}

#right_side{background:inherit;position:relative;float:right;width:30%;height:100%;top:0px; border: black 2px solid;}
#lang{float:right;width:100%;height:100%;border: black 2px solid;}
#basket{float:right;width:258px;height:120px;top:40px;border:solid 1px black;}
}

@media screen and (min-width:769px) and (max-width:1024px) {
#header{background-image:url('http://www.livefood.in.ua/img/bg_header.png') repeat; border:solid 1px black;margin-top:8px;outline:0px solid #F09F09;height:151px;width:100%;margin-bottom:11px;box-shadow:0 0 7px rgba(0,0,0,0.5);}
#logo{float:left;position:relative;width:531px;height:150px;border:solid 1px black;}
#name_side{margin-top:0px;margin-right:0px;float:right;width:100%;height:100%;border:solid 0px black;}

#header_contact{position:relative;float:left;width:100%;height:100%;margin-left:5px;margin-right:5px;border:solid 0px black;}
#top_nomer_contact{position:relative;margin-top:20px;font-family:Tahoma,Arial;font-variant:normal;font-size:20px;color:#010101;width:100%;height:32px;text-align:center;}
#bottom_nomer_contact{position:relative;font-family:Tahoma,Arial;font-variant:normal;font-size:20px;color:#010101;outline:0px solid;width:100%;height:32px;text-align:center;}


#right_side{position:relative;float:right;width:40%;height:100%;top:0px;border:solid 3px black;}
div#branch{z-index:auto;width:300px;height:250px;position:absolute;top:-46px;left:-10px;}
div#lizard{z-index:auto;width:174px;height:105px;position:absolute;top:-4px;left:60px;}

#lang{float:right;width:120px;height:30px;}
#basket{float:right;width:258px;height:120px;top:40px;border:solid 1px black;}
div#man_basket{position:absolute;margin-left:185px;margin-top:10px;width:68px;height:60px;border:solid 1px black;}
div#submit_basket{position:absolute;margin-left:50px;margin-top:75px;width:167px;height:40px;border:1px solid #F09F09;}


div#all_center{position:relative;float:left;top:-10px;background-color:#fff;border:solid 1px black;}
div#left{position:relative;float:left;width:224px;background-color:#fff;outline:0px solid #F09F09;border:solid 1px black;}
div#right{position:relative;float:right;background-color:#fff;outline:0px solid #F09F09;border:solid 1px black;}
}

@media screen and (min-width:1025px) {
#header{max-width:1000px;border:solid 1px black;margin-top:8px;height:100%;width:100%;margin-bottom:0px;box-shadow:0 0 7px rgba(0,0,0,0.5);}
div#logo{float:left;position:relative;width:60%;height:100%;border:solid 1px black;}
name_side{margin-top:0px;margin-right:0px;float:right;width:100%;height:100%;border:solid 0px black;}

#header_contact{position:relative;float:left;width:100%;height:100%;margin-left:5px;margin-right:5px;border:solid 0px black;}
#top_nomer_contact{position:relative;margin-top:20px;font-family:Tahoma,Arial;font-variant:normal;font-size:20px;color:#010101;width:100%;height:32px;text-align:center;}
#bottom_nomer_contact{position:relative;font-family:Tahoma,Arial;font-variant:normal;font-size:20px;color:#010101;outline:0px solid;width:100%;height:32px;text-align:center;}
#right_side{position:relative;float:right;width:40%;height:100%;top:0px;border:solid 4px black;}

div#branch{z-index:auto;width:300px;height:250px;position:absolute;top:-46px;left:-10px;}
div#lizard{z-index:auto;width:174px;height:105px;position:absolute;top:-4px;left:60px;}
div#name_side{margin-top:8px;margin-right:0px;float:right;width:290px;height:55px;}
div#lang{float:right;width:120px;height:30px;}
div#basket{float:right;width:258px;height:120px;top:40px;border:solid 1px black;}
div#man_basket{position:absolute;margin-left:185px;margin-top:10px;width:68px;height:60px;border:solid 1px black;}
div#submit_basket{position:absolute;margin-left:50px;margin-top:75px;width:167px;height:40px;border:1px solid #F09F09;}


div#all_center{position:relative;float:left;top:-10px;background-color:#fff;border:solid 1px black;}
div#left{position:relative;float:left;width:224px;background-color:#fff;outline:0px solid #F09F09;border:solid 1px black;}
div#right{position:relative;float:right;background-color:#fff;outline:0px solid #F09F09;border:solid 1px black;}
}


div#nav{position:relative;outline:0px solid #F09F09;width:1025px;height:44px;margin-right:10px;margin-top:9px;box-shadow:0 0 7px rgba(0,0,0,0.5);}
ul.mainmenu{position:relative;top:8px;padding:4px;}
a.main{font-family:Tahoma,Arial;font-variant:normal;font-size:20px;color:#030303;text-decoration:none;}
a.main:visited{color:#030303;}
a.main:hover{color:#60EC2F;}
ul.mainmenu li{float:left;text-transform:uppercase;text-align:center;padding:0px 34px;border-right:1px solid #F4E4D2;}
div#login_welcome{margin-bottom:10px;margin-top:10px;margin-left:10px;margin-right:10px;}
span.login_text{font-family:Arial,sans-serif;font-size:16px;font-weight:700;color:#400404;}
div#reg{position:relative;float:left;outline:0px solid #F09F09;width:214px;height:190px;margin-bottom:1px;margin-top:9px;margin-right:20px;box-shadow:0 0 7px rgba(0,0,0,0.5);}
span#title_main{display:block;padding-top:10px;padding-bottom:7px;text-align:center;font-family:Tahoma,Arial;font-variant:normal;font-size:20px;color:#030303;border-bottom:1px solid #DCA23F;margin-right:30px;margin-left:30px;}
div#lines{margin-right:30px;margin-left:30px;border-top:1px solid #EA9B14;}
div.reg_block{padding:1px;font-family:Tahoma,Arial;font-variant:normal;font-size:15px;color:#030303;}
ul.reg_enter li{padding-bottom:8px;}
ul.reg_enter li input{background-color:#FFFFFF;width:130px;padding:5px;border:0px;}
ul.reg_enter li input:focus{background-color:#EDD6AB;width:130px;padding:5px;border:0px;}
ul.reg_enter li#margin{margin-left:9px;}
ul.reg_enter li input#text_reg{width:119px;float:right;margin-right:10px;}
ul.reg_enter li input#password{width:119px;float:right;margin-right:10px;margin-top:5px;}
div#a_reg{margin-left:22px;}
a.reg_help{text-decoration:none;font-family:Tahoma,Arial;font-variant:normal;font-size:12px;color:#030303;}
a.reg_help:visited{color:#030303;text-decoration:none;}
a.reg_help:hover{color:#60EC2F;text-decoration:none;}
input#input_reg{position:relative;margin-top:15px;left:55px;width:108px;height:33px;border:0;}
div#trapecia1{position:relative;float:left;left:-5px;width:8px;height:9px;margin-top:5px;}
div#left_nav{position:relative;float:left;outline:1px solid #F09F09;width:219px;margin-top:1px;margin-bottom:1px;left:-5px;font-family:Arial,sans-serif;font-size:26px;font-weight:700;color:#030303;text-align:center;}
div#trapecia2{position:relative;float:left;left:-5px;width:8px;height:9px;}
div.left_navigator{position:relative;left:4px;width:200px;font-family:Arial,sans-serif;font-variant:normal;font-weight:normal;font-size:26px;color:#030303;text-align:left;margin-left:9px;border:solid 0px black;}
a.left_class{text-decoration:none;color:#030303;}
a.left_class:visited{color:#030303;}
a.left_class:hover{color:#60EC2F;}
div#left_navigator ul#left li{padding:20px;}
div.lines_left{position:relative;width:223px;background-color:#FFFFFF;height:2px;vertical-align:top;margin-top:5px;margin-bottom:5px;margin-left:9px;}
img.img_left{position:relative;left:10px;vertical-align:middle;outline:0px solid;}
h1#text_header{text-align:center;font-family:Arial,sans-serif;font-size:28px;color:#871E1E;}
span.content_text{font-family:Arial,sans-serif;font-size:14px;color:#400404;word-spacing:4px;}
span.green_price{color:#00FF00;font-weight:700;}
span.red_price{color:#FF0000;}
span.old_price{color:#D2691E;text-decoration:line-through;font-family:Arial,sans-serif;font-size:21px;}
h2#name_table{margin-top:4px;text-align:center;font-family:Arial,sans-serif;font-size:22px;color:#871E1E;}
#featured{margin-left:14px;margin-top:10px;font-size:20px;color:#400304;text-align:center;border:1px solid #ECA013;margin-bottom:4px;width:970px;}
#featured td{border:1px solid #ECA013;}
#featured tr{border:1px solid #ECA013;}
div#goods{width:1010px;margin-bottom:30px;margin-top:30px;}
div.goods_content{position:relative;float:left;width:320px;height:245px;margin-left:9px;margin-bottom:15px;}
p.goods_fon{color:#09F204;}
img.goods_item{position:relative;left:0px;outline:0px solid;}
img.goods_shkala{position:absolute;top:190px;left:0px;outline:0px solid;}
img.products_shkala{display:block;position:absolute;left:0px;bottom:0px;}
img.products_item{display:block;margin-bottom:25px;position:absolute;left:0px;bottom:0px;}
div.products_parent_all_item{position:relative;display:table;float:left;width:318px;height:174px;border:solid 0px black;}
div.products_parent_item{position:relative;display:table-cell;vertical-align:bottom;float:left;outline:0px solid #F1A71E;width:318px;border:solid 1px red;}
img#goods3_content2{position:relative;margin-top:6px;}
a.class_content{font-family:Arial,sans-serif;font-size:30px;text-decoration:underline;color:#400404;outline:0px solid;}
img#goods3_content3{position:relative;top:49px;}
img#tager2_content{position:relative;margin-top:48px;}
img#goods3_content4{position:relative;top:10px;}
div.content_name_block{text-align:center;font-family:Arial,sans-serif;font-size:19px;color:#400404;margin-top:1px;margin-left:1px;margin-right:1px;border:solid 0px black;}
div.goods_name_block{margin-top:8px;margin-left:10px;font-family:Arial,sans-serif;font-size:18px;color:#000000;}
img.cricket2_content{float:left;margin-top:40px;}
div#footer{position:relative;margin-bottom:8px;top:-10px;float:right;width:1262px;height:147px;}
div#valid{position:absolute;z-index:auto;width:88px;height:31px;top:110px;left:8px;}
div#worm{position:absolute;z-index:auto;width:182px;height:184px;top:-40px;left:778px;}
span#right{font-family:Tahoma,Arial;font-variant:normal;font-size:10px;color:#4C5538;position:absolute;top:126px;left:182px;width:553px;height:12px;}
div#message{}
div#content{position:relative;float:right;width:1017px;margin-top:10px;}
div#telefon{position:relative;margin-top:26px;margin-left:90px;outline:1px solid #F09F09;width:630px;height:88px;}
div#image_telefon{float:left;outline:1px solid #F09F09;width:123px;height:88px;}
img#img_telefon{margin-top:8px;margin-left:16px;}
div#nomer{position:relative;float:right;width:506px;height:88px;outline:1px solid #F09F09;}
div#top_nomer{position:relative;margin-top:12px;font-family:Tahoma,Arial;font-variant:normal;font-size:18px;color:#010101;width:506px;height:32px;text-align:center;border-bottom:1px solid #F09F09;}
div#bottom_nomer{position:relative;margin-top:12px;font-family:Tahoma,Arial;font-variant:normal;font-size:18px;color:#010101;outline:0px solid;width:506px;height:32px;text-align:center;}
div#letter{margin-top:26px;margin-left:90px;outline:1px solid #F09F09;width:630px;height:98px;}
div#image_letter{float:left;outline:1px solid #F09F09;width:123px;height:98px;}
img#img_letter{margin-top:16px;margin-left:16px;}
div#email{font-family:Tahoma,Arial;font-variant:normal;font-size:22px;color:#010101;float:right;outline:0px solid #F09F09;margin-top:26px;width:506px;height:98px;text-align:center;}
div#text_block_reg{position:relative;margin-top:50px;margin-left:90px;width:820px;}
h1#text_header_block{position:relative;margin-left:194px;font-variant:normal;font-size:31px;color:#983A32;}
p#text_header_block1{position:relative;margin-top:14px;font-family:Tahoma,Arial;font-variant:normal;font-size:19px;color:#010101;}
div#mail_login{font-family:Arial,sans-serif;font-size:18px;color:#010101;margin-left:90px;margin-top:15px;width:400px;height:35px;}
#text_mail_login{position:relative;font-family:Arial,sans-serif;font-size:18px;width:180px;float:right;margin-top:0px;outline:1px solid #F09F09;}
div#mail_email{position:relative;font-family:Arial,sans-serif;font-size:18px;color:#010101;margin-left:90px;margin-top:15px;width:400px;height:35px;}
#text_mail_email{position:relative;font-family:Arial,sans-serif;font-size:18px;width:180px;margin-top:0px;float:right;outline:1px solid #F09F09;}
div#mail_tlf{font-family:Arial,sans-serif;font-size:18px;color:#010101;width:400px;margin-left:90px;margin-top:15px;height:35px;}
#text_mail_tlf{position:relative;font-family:Arial,sans-serif;font-size:18px;width:180px;float:right;margin-top:0px;outline:1px solid #F09F09;}
div#mail_message{font-family:Arial,sans-serif;font-size:18px;color:#010101;margin-left:90px;margin-top:15px;width:723px;height:225px;}
#text_mail_message{position:relative;font-family:Arial,sans-serif;font-size:18px;width:500px;float:right;outline:1px solid #F09F09;}
div#mail_verify{position:relative;font-family:Arial,sans-serif;font-size:18px;color:#010101;width:400px;margin-left:90px;margin-top:15px;}
#text_mail_verify{position:relative;font-family:Arial,sans-serif;font-size:18px;width:180px;float:right;outline:1px solid #F09F09;}
input#input_reg1{width:151px;height:43px;border:0;}
div#article_name{position:relative;margin-top:20px;font-family:Arial,sans-serif;font-size:16px;}
div#article{position:relative;margin-top:20px;width:1000px;font-family:Arial,sans-serif;font-size:24px;}
a#article{text-decoration:none;color:#A95A49;text-decoration:underline;font-family:Arial,sans-serif;font-size:28px;}
div.article_text{position:relative;width:1000px;left:0px;top:0px;margin-top:15px;margin-right:15px;font-family:Arial,sans-serif;font-size:16px;color:#400404;word-spacing:4px;}
div.products_article_text{position:relative;float:left;margin-top:15px;margin-bottom:30px;margin-left:30px;margin-right:30px;width:955px;font-family:Arial,sans-serif;font-size:16px;color:#400404;word-spacing:4px;}
div#atricle_title{position:relative;margin-top:10px;width:1000px;text-align:center;font-family:Arial,sans-serif;font-size:28px;color:#871E1E;}
div.head_article_text{text-align:center;font-family:Arial,sans-serif;font-size:21px;color:#010101;}
div.image_article{margin-top:10px;width:224px;height:128px;float:left;float:left;}
div.prudact{position:relative;float:left;margin-top:10px;margin-left:10px;margin-bottom:30px;width:236px;height:393px;outline:1px solid #F1A61B;}
div.prudact_parent_header{width:236px;display:table;}
div.prudact_header{display:table-cell;width:236px;height:70px;text-align:center;vertical-align:middle;font-family:Arial,sans-serif;font-variant:normal;font-size:34px;color:#871E1E;}
div.prudact_parent_img{width:236px;height:149px;display:table;}
div.prudact_img{display:table-cell;width:236px;text-align:center;vertical-align:middle;}
div.prudact_text{width:216px;margin-left:10px;margin-right:10px;font-family:Arial,sans-serif;font-variant:normal;font-size:16px;color:#000000;}
a.prudact_header_name{text-decoration:none;color:#871E1E;outline:0px solid;}
div#login{font-family:Arial,sans-serif;font-size:18px;color:#010101;margin-top:15px;width:400px;height:35px;}
#text_login{position:relative;font-family:Arial,sans-serif;font-size:18px;float:right;width:180px;outline:1px solid #F09F09;}
div#password{font-family:Arial,sans-serif;font-size:18px;color:#010101;margin-top:15px;width:400px;height:35px;}
#text_password{position:relative;font-family:Arial,sans-serif;font-size:18px;width:180px;float:right;outline:1px solid #F09F09;}
div#password2{font-family:Arial,sans-serif;font-size:18px;color:#010101;margin-top:15px;width:400px;height:35px;}
#text_password2{position:relative;font-family:Arial,sans-serif;font-size:18px;width:180px;float:right;outline:1px solid #F09F09;}
div#reg_email{font-family:Arial,sans-serif;font-size:18px;color:#010101;margin-top:15px;width:400px;height:35px;}
#text_email{position:relative;font-family:Arial,sans-serif;font-size:18px;width:180px;float:right;outline:1px solid #F09F09;}
div#reg_tlf{font-family:Arial,sans-serif;font-size:18px;color:#010101;margin-top:15px;width:400px;height:35px;}
#text_tlf{position:relative;font-family:Arial,sans-serif;font-size:18px;width:180px;float:right;outline:1px solid #F09F09;}
div#error{position:relative;width:1010px;font-family:Arial,sans-serif;font-size:18px;color:#010101;margin-top:35px;margin-bottom:35px;}
#msg_error{font-family:Arial,sans-serif;font-size:28px;font-weight:700;color:#FF0000;}
div#error_text{margin-top:50px;text-align:center;}
div#error_img{margin-top:10px;border:3px ridge #F09F09;margin-left:170px;width:400px;height:338px;}
div.td2{position:relative;float:left;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px;width:200px;font-family:Arial,sans-serif;font-size:16px;outline:1px solid #F09F09;text-align:center;padding-top:10px;padding-bottom:10px;}
div.td1{position:relative;float:left;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px;width:200px;height:30px;font-family:Arial,sans-serif;font-size:16px;outline:1px solid #F09F09;text-align:center;padding-top:10px;padding-bottom:10px;}
table{border-collapse:separate;border-spacing:0;}
th,
td{padding:5px 5px;}
thead{background:#F08F39;color:#fff;}
tbody tr:nth-child(even){background:#fbfbfb;}
td{border-bottom:1px solid #cecfd5;border-right:1px solid #cecfd5;vertical-align:middle;}
td:first-child{border-left:1px solid #cecfd5;}

div.buy_products_content{position:relative;float:left;outline:1px solid #F1A71E;width:960px;height:145px;margin-left:15px;margin-bottom:15px;}
div.buy_products_item{position:relative;display:table;float:left;width:318px;height:145px;border:solid 0px black;}
img.buy_products_item_img{position:absolute;display:block;left:0px;border:solid 0px black;}
div.buy_products_block{position:relative;float:left;width:318px;height:140px;margin-left:0px;border:solid 0px black;}
div.buy_products_name{position:relative;float:left;width:310px;height:22px;text-align:left;font-family:Arial,sans-serif;font-size:20px;color:#400404;margin-left:5px;margin-top:7px;margin-bottom:7px;border:solid 0px black;}

/*
div.products_parent_all_item{position:relative;display:table;float:left;width:318px;height:174px;border:solid 0px black;}
div.products_parent_item{position:relative;display:table-cell;vertical-align:bottom;float:left;outline:0px solid #F1A71E;width:318px;border:solid 1px red;}
img.products_item{display:block;margin-bottom:25px;position:absolute;left:0px;bottom:0px;}
*/