
div.left_block {
position: absolute; /* Абсолютное позиционирование */
left: 5px;
top: 30px;
width:800px;
height: 700px;
overflow: auto;
border: solid 1px black;
}
div.center_block {
position: absolute; /* Абсолютное позиционирование */
left: 810px; /* Смещаем слой вправо на ширину левого слоя */
top: 30px;
width:255px;
height: 700px;
overflow: auto;
border: solid 1px black;
}
div.right_block {
position: absolute; /* Абсолютное позиционирование */
left: 1070px;
top: 30px;
width:255px;
height: 700px;
overflow: auto;
border: solid 1px black;
}
div.stat_block {
position: absolute; /* Абсолютное позиционирование */
left: 5px; /* Смещаем слой вправо на ширину левого слоя */
top: 335px;
width:1000px;
overflow: auto;
height: 300px;
border: solid 1px black;
}